/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("./img/Hero.svg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2.5em;
  border-radius: 50px !important;
  transition: .4s ease-in-out;
  background: #ffffff;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
}

.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #19C759;
  box-shadow: 10px 10px 0px #19C759;
}

.h-form {
  min-height: 100vh;
}
.v-form {
  max-width: 500px;
}

.p-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2.5em;
  border: 1px solid;
  border-radius: 50px !important;
  transition: .4s ease-in-out;
  background: #ffffff;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
}

.p-form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #19C759;
  box-shadow: 10px 10px 0px #19C759;
}

.heading {
  color: black;
  text-align: center;
  font-weight: bold;
}

.input {
  border-radius: 10px !important;
  /* border: 1px solid whitesmoke; */
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
  color: #19C759;
  border: 2px solid #19C759 !important;
}

.input:hover {
  box-shadow: 6px 6px 0px #54D158,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.btn {
  margin-top: 2em;
  border-color: #0076ed !important;
  outline: none;
  -ms-flex-item-align: center !important;
  background-color: #00aaff !important;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff !important;
  border-radius: 10px !important;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #0076ed !important;
}

.btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #0076ed;
}

.navbar {
  background: rgba( 255, 255, 255, 0 ) !important;
}

.productCard {
  border-radius: 50px !important;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
}

.productCard .card-img-top {
  max-width: 100%;
  object-fit: cover;
}

.addButton {
  border: 2px solid #00aaff;
  background-color: #00aaff;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 .addButton span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .addButton:hover {
  background-color: #0076ed;
 }

 .footer {
  background: rgba( 255, 255, 255, 0 ) !important;
 }
 
 .highlight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2.5em;
  border-radius: 50px !important;
  background: #ffffff;
  -webkit-box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
 }

 .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 .main-content {
  flex-grow: 1;
}


